absl-py==0.1.13
arrow==0.12.1
astor==0.6.2
bleach==1.5.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
cycler==0.10.0
Cython==0.28.2
dash==0.21.1
dash-core-components==0.22.1
dash-html-components==0.10.1
dash-renderer==0.12.1
dataclasses==0.5
decorator==4.3.0
dill==0.2.7.1
Flask==1.0.1
Flask-Compress==1.4.0
Flask-Cors==3.0.4
gast==0.2.0
geos==0.2.1
grpcio==1.10.0
h5py==2.7.1
html5lib==0.9999999
idna==2.6
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
Keras==2.1.5
kiwisolver==1.0.1
lxml==4.2.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
nbformat==4.4.0
nltk==3.2.5
numpy==1.14.2
oauthlib==2.0.7
Pillow==5.1.0
plotly==2.5.1
proj==0.1.0
protobuf==3.5.2.post1
pyparsing==2.2.0
pyproj==1.9.5.1
pyshp==1.2.12
PySocks==1.6.8
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
textblob==0.15.1
traitlets==4.3.2
tweepy==3.6.0
tweetpy==0.1
urllib3==1.22
Werkzeug==0.14.1
XlsxWriter==1.0.4
